<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ch.martin.Feedivo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>feedivo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>ch.martin.Feedivo.feed-drag-item</string>
			<key>UTTypeDescription</key>
			<string>Feedivo Feed Drag Item</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>ch.martin.Feedivo.folder-drag-item</string>
			<key>UTTypeDescription</key>
			<string>Feedivo Folder Drag Item</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>ch.martin.Feedivo.tag-drag-item</string>
			<key>UTTypeDescription</key>
			<string>Feedivo Tag Drag Item</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>ch.martin.Feedivo.smart-folder-drag-item</string>
			<key>UTTypeDescription</key>
			<string>Feedivo Smart Folder Drag Item</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/martinfelder/feedivo-mac/main/docs/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>tMoZQKDmZhEFAyf8qPNY2bW22SYHEippirJTrOy4Si0=</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
</dict>
</plist>
